S3method(plot, wbaconlm)

export(is_outlier)
S3method(is_outlier, wbaconmv)
S3method(is_outlier, wbaconlm)

export(wBACON)
S3method(print, wbaconmv)
S3method(summary, wbaconmv)
S3method(vcov, wbaconmv)
S3method(vcov, wbaconmv)
S3method(plot, wbaconmv)

export(distance)
export(center)
export(SeparationIndex)

export(wBACON_reg)
S3method(print, wbaconlm)
S3method(summary, wbaconlm)
S3method(fitted, wbaconlm)
S3method(residuals, wbaconlm)
S3method(coef, wbaconlm)
S3method(vcov, wbaconlm)
S3method(predict, wbaconlm)

export(weighted_quantile)
export(weighted_median)

useDynLib(wbacon, wbacon)
useDynLib(wbacon, wbacon_reg)
useDynLib(wbacon, wquantile)
