export(is_outlier)
S3method(is_outlier, robmv)
S3method(is_outlier, roblm)

export(wBACON)
S3method(print, robmv)
S3method(summary, robmv)
S3method(vcov, robmv)
export(distance)
export(center)

export(wBACON_reg)
S3method(print, roblm)
S3method(summary, roblm)
S3method(fitted, roblm)
S3method(residuals, roblm)
S3method(coef, roblm)
S3method(vcov, roblm)
S3method(predict, roblm)

export(weighted_quantile)
export(weighted_median)

useDynLib(wbacon, wbacon)
useDynLib(wbacon, wbacon_reg)
useDynLib(wbacon, wquantile)
